/* --- Window --- */
.window-root {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

/* --- Cheatsheet --- */
.cheatsheet-item {
}

.cheatsheet-key {
    -fx-border-color: -fx-text-fill;
    -fx-padding: 2px 7px 2px 7px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}